@media(max-width:1171px){
	#heatmap-range-bar{padding-bottom:15px; text-align:center !important;}
}

@media(max-width:991px){
	#media-buttons{padding-top:40px !important; padding-bottom:20px !important; text-align:center;}
	#media-slider{width:100% !important; margin:auto !important;}
}

@media(max-width:479px){
	/* #btn-container{width:100%; padding-top:5px;float:left !important; padding-right:4%;} */
	#btn-container{width:100%; padding-top:5px;float:left !important; padding-left:30px; padding-right:0px !important;}
	.btn{padding: 6px 10px !important}
	#heatmap-range-img{width:100%;}
}